packages:
  yum:
    nginx: []
    certbot: []

files:
  "/etc/nginx/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name ${DOMAIN};

          location /.well-known/acme-challenge/ {
              root /var/www/html;
          }

          location / {
              return 301 https://${DOMAIN}$request_uri;
          }
      }

  "/etc/nginx/conf.d/ssl_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 443 ssl;
          server_name ${DOMAIN};

          ssl_certificate /etc/letsencrypt/live/${DOMAIN}/fullchain.pem;
          ssl_certificate_key /etc/letsencrypt/live/${DOMAIN}/privkey.pem;

          location / {
              proxy_pass http://localhost:5000;
              proxy_set_header Host $$host;
              proxy_set_header X-Real-IP $$remote_addr;
              proxy_set_header X-Forwarded-For $$proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $$scheme;
          }
      }

commands:
  create_cert:
    command: |
      mkdir -p /var/www/html
      certbot certonly --webroot -w /var/www/html \
        --non-interactive --agree-tos \
        -m ${EMAIL} \
        -d ${DOMAIN} || echo "Cert already exists"

  restart_nginx:
      command: |
        nginx -t || (cat /etc/nginx/conf.d/*.conf && exit 1)
        service nginx restart
